<form #registerForm="ngForm" class="from-horizontal">
  <div
    class="form-group"
    [ngClass]="{
      'has-error': userName.invalid && (userName.dirty || userName.touched)
    }"
  >
    <div>
      <input
        #userName="ngModel"
        type="text"
        class="form-control"
        placeholder="Email"
        [(ngModel)]="regModel.userName"
        name="userName"
        required
        minlength="12"
        maxlength="31"
      />
      <div
        *ngIf="userName.invalid && (userName.dirty || userName.touched)"
        class="text-danger"
      >
        <div *ngIf="userName.errors.required">用户名不能为空</div>
        <div *ngIf="userName.errors.minlength">最小长度不能小于12个字符</div>
        <div *ngIf="userName.errors.maxlength">最大长度不能大于32个字符</div>
      </div>
    </div>
  </div>
  <div>
    <input
      type="text"
      #mobile="ngModel"
      name="mobile"
      [(ngModel)]="regModel.mobile"
      placeholder="mobile"
      class="form-control"
      ChineseMobileValidator
    />
    <div
      *ngIf="mobile.invalid && (mobile.dirty || mobile.touched)"
      class="text-danger"
    >
      <div *ngIf="!mobile.errors.ChineseMobileValidator">
        请输入合法的手机号
      </div>
    </div>
  </div>

  <input
    type="password"
    name="password"
    class="form-control"
    [(ngModel)]="regModel.password"
    placeholder="password"
  />
  记住我：<input
    type="checkbox"
    name="rememberMe"
    [(ngModel)]="regModel.rememberMe"
  />

  <div class="border-top">
    <p>用户名：{{ regModel.userName }}</p>
    <p>密码：{{ regModel.password }}</p>
    <p>是否记住：{{ regModel.rememberMe }}</p>

    <p>
      表单状态：{{ registerForm.valid }}
      {{ registerForm.invalid }}
      {{ registerForm.pending }}
      {{ registerForm.pristine }}
      {{ registerForm.dirty }}
      {{ registerForm.untouched }}
      {{ registerForm.touched }}
    </p>
  </div>
</form>
